<html>

<head>
{% load static %}
<title>Search Result</title>
<link rel="stylesheet" href="{% static 'css/iksweb.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>



<h2>

{% with results.count as total_results %}

Found {{ total_results }} result{{ total_results|pluralize }}

{% endwith %}

</h2>


<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Article</th>
        <th>Name</th>
        <th>Miniature</th>
        <th>Description</th>
        <th>Country</th>
        <th>Net Weight</th>
        <th>Gross Weight</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    {% for c in results %}
    <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.article }}</td>
        <td>{{ c.name }}</td>
        <td><img width="150" height="100" src = '{{ c.photo.url }}' alt=""></td>
        <td>{{ c.description }}</td>
        <td>{{ c.country }}</td>
        <td>{{ c.net_weight }}</td>
        <td>{{ c.gross_weight }}</td>
        <td>{{ c.price }}</td>
    </tr>
    {% endfor %}
</table>

<form action="{% url 'stock-home' %}" class="form-inline" method="get">

<button type="submit" class="btn btn-primary btn-lg mb-2">Назад</button>

</form>

</body>

<html>
